###### Requirements without Version Specifiers ######`
pandas
matplotlib
psutil
###### Requirements with Version Specifiers ######`
fonttools>=4.43.0 # not directly required, pinned by Snyk to avoid a vulnerability
